<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post in detail</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h3>The details are:</h3>
    <h3>Post Id:<%=post.id %></h3>
    <div class="post">
        <h3 class="username">Username:@<%=post.username %></h3>
        <h5 class="caption"><%=post.caption %></h5>
    </div>
</body>
</html>